<article class="login-container">
  <header class="login-header">
    <h2 class="login-header__title">Login</h2>
  </header>
  <div class="login-content">
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login" class="form-label">Username</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="form-label">Password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <div class="login-signup">
      <p>Don't have an account? <a href="/signUp">Sign up</a> instead.</p>
    </div>
  </div>
</article>
<script src="./js/login.js"></script>